/*=================================

			DEFAULT VALUES:

			font-family            : Roboto Condensed
				RED										:#ff2e00
			
			Steel Gray 							:#41464b  (Headings);
			Blue Bayoux							:#64707b   (paragraphs);
			White   								:#fff;			(text with black background)
			Black										:#000 ;
==================================*/


